.commentPost {
    margin-top: -20px;

    :placeholder-shown {
            padding: 20px;
    }

    button {
        background-color: $quaternary;
        color: $primary;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
    }
}

input {
    margin-bottom: 50px;
    margin-right: 18px;
    width: calc(50% - 20px);
    background-color: transparent;
    border: none;
    color: $primary;
    border-bottom: 2px solid $tertiary;
}

textarea {
    width: 100%;
    height: 235px;
    background-color: transparent;
    border: 2px solid $tertiary;
    color: $primary;
}


// contact styles

.contactForm {
    width: 75%;
    background-color: $quaternary;
    position: absolute;
    top: 180px;
    left: 300px;

    form {
        padding: 70px 50px 50px 50px;

        :placeholder-shown {
            padding: 20px;
        }
    }

    input {
        margin-bottom: 50px;
        margin-right: 18px;
        width: calc(50% - 20px);
    }

    textarea {
        margin-bottom: 50px;
        width: 100%;
    }

    button {
        background-color: $secondary;
        color: $primary;
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 0;
    }
}





// .contactForm {
//     width: calc(50% - 70px);
//     margin-left: 70px;
//     display: flex;
//     flex-direction: column;
// }

// input, textarea {
//     padding: 0 0 10px 5px;
//     border: none;
//     margin-bottom: 40px;
//     color: #333;
//     font-size: $bodyFont;
//     &::placeholder{
//         font-size: 0.8rem;
//         color: $primary;
//         opacity: 1;
//         line-height: 1.2rem;
//         text-transform: uppercase;
//     }
//     &:focus {
//         border-bottom: 1px solid $primary;
//     }
// }

// input {
//     border-bottom: 1px solid #eee;
// }

// textarea { 
//     min-height: 130px;
//     border: 1px solid #eee;
//     border-top: none;
// }